
.scroll-pane
{
	height:  335px;
	overflow: auto;
	overflow-x: hidden;
}
.scroll-pane2
{
	width: 100%;
	height:  380px;
	overflow: auto;
	overflow-x: hidden;
}
.scroll-pane3
{
	height:  335px;
	overflow: auto;
	
}
